:root {
  --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --msger-bg: #fff;
  --border: 2px solid #ddd;
  --left-msg-bg: #ececec;
  --right-msg-bg: #579ffb; }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  background-image: url("../assets/bg/bg2.svg");
  background-size: cover;
  text-align: center;
  min-width: 1400px; }

body > main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

#navContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

nav {
  background: darkcyan;
  width: 1100px;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  border-radius: 10px 10px; }

nav ul {
  display: inline-flex;
  list-style: none;
  color: white;
  width: 100%;
  align-content: flex-end;
  justify-content: flex-end; }

nav ul li {
  width: 150px;
  margin: 15px 0 15px 0; }

#container {
  display: flex; }

#game {
  width: 750px;
  height: 750px;
  display: grid;
  grid-template: repeat(15, 1fr)/repeat(15, 1fr);
  background-image: url("../assets/bg/bg_ground50x50.png");
  background-repeat: repeat; }

.block {
  content: '';
  place-items: center;
  background-image: url("../assets/bg/block50x50.png");
  -webkit-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  z-index: 289; }

.wall {
  content: '';
  place-items: center;
  background-image: url("../assets/bg/bg_wood50x50.png");
  -webkit-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  z-index: 289; }

.wallVertical {
  content: '';
  place-items: center;
  background-image: url("../assets/bg/bg_wood_vertical50x50.png");
  -webkit-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  z-index: 289; }

.ice {
  content: '';
  place-items: center;
  background-image: url("../assets/bg/bg_ice48x48.png"); }

.catPlayer {
  content: '';
  place-items: center;
  background-image: url("../assets/player/cat_000_50x50.png"); }

.gorillaPlayer {
  content: '';
  place-items: center;
  background-image: url("../assets/player/gorilla_000_50x50.png"); }

.penguinPlayer {
  content: '';
  place-items: center;
  background-image: url("../assets/player/penguin_000_50x50.png"); }

.rabbitPlayer {
  content: '';
  place-items: center;
  background-image: url("../assets/player/rabbit_000_50x50.png"); }

.chat {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  max-width: 340px;
  max-height: 750px;
  margin-left: 10px;
  border: var(--border);
  border-radius: 5px;
  background: var(--msger-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2); }

.chat-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: var(--border);
  background: #eee;
  color: #666; }

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px; }

.msger-chat::-webkit-scrollbar {
  width: 6px; }

.msger-chat::-webkit-scrollbar-track {
  background: #ddd; }

.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd; }

.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px; }

.msg:last-of-type {
  margin: 0; }

.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd no-repeat center;
  background-size: cover;
  border-radius: 50%; }

.msg-bubble {
  max-width: 250px;
  padding: 15px;
  border-radius: 15px;
  background: var(--left-msg-bg); }

.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; }

.msg-info-name {
  margin-right: 10px;
  font-weight: bold; }

.msg-info-time {
  font-size: 0.85em; }

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
  text-align: left; }

.right-msg {
  flex-direction: row-reverse; }

.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: #fff;
  border-bottom-right-radius: 0;
  text-align: left; }

.right-msg .msg-img {
  margin: 0 0 0 10px; }

.msger-inputarea {
  display: flex;
  padding: 10px;
  border-top: var(--border);
  background: #eee; }

.msger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em; }

.msger-input {
  flex: 1;
  background: #ddd; }

.msger-send-btn {
  margin-left: 10px;
  background: #00c441;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s; }

.msger-send-btn:hover {
  background: #00b432; }

.msger-chat {
  background-color: #fcfcfe; }
