body {
  background-image: url("../assets/grass_bg.jpg"); }

#game {
  width: 1500px;
  height: 1500px; }

.gridContainer {
  display: grid;
  grid-template: repeat(15, 1fr)/repeat(15, 1fr); }

.edge {
  background-image: url("../assets/block70x70.jpg");
  -webkit-box-shadow: 17px 0px 17px -6px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 17px 0px 17px -6px rgba(0, 0, 0, 0.47);
  box-shadow: 17px 0px 17px -6px rgba(0, 0, 0, 0.47); }
