$bg-ground: url("../assets/bg_ground70x70.jpg");
$bg-walls: url("../assets/block70x70.png");
$bg-grass: url("../assets/grass_bg.jpg");
$bg-ice: url("../assets/bg_ice70x70.png");
$bg-cat: url("../assets/cat_000.png");
$bg-gorilla: url("../assets/gorilla_000.png");
$bg-penguin: url("../assets/penguin_000.png");
$bg-rabbit: url("../assets/rabbit_000.png");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: $bg-grass;
  background-repeat: repeat;
  text-align: center;
}

body > main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

nav {
  background: darkcyan;
  width: 1400px;
  margin-bottom: 15px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.75);
}

nav ul {
  display: inline-flex;
  list-style: none;
  color: white;
}

nav ul li {
  width: 120px;
  margin: 15px;
  padding: 15px;
}

#container {
  display: flex;
}

#game {
  width: 1050px;
  height: 1050px;
  display: grid;
  grid-template: repeat(15,1fr) /repeat(15,1fr);
  background-image: $bg-ground;
  background-repeat: repeat;
}

.wall {
  content: '';
  place-items: center;
  background-image: $bg-walls;
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.75);
}

.ice {
  content: '';
  place-items: center;
  background-image: $bg-ice;
}

.catPlayer {
  content: '';
  place-items: center;
  background-image: $bg-cat;

}

.gorillaPlayer {
  content: '';
  place-items: center;
  background-image: $bg-gorilla;
}

.penguinPlayer {
  content: '';
  place-items: center;
  background-image: $bg-penguin;
}

.rabbitPlayer {
  content: '';
  place-items: center;
  background-image: $bg-rabbit;
}

#chat {
  content: '';
  width: 340px;
  height: 550px;
  margin-left: 10px;
  background: darkgrey;
  -webkit-box-shadow: inset 1px 1px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 1px 1px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: inset 1px 1px 5px 1px rgba(0, 0, 0, 0.75);
}

#sendButton {
}