$bg-ground: url("../assets/bg_ground70x70.jpg");
$bg-walls: url("../assets/block70x70.png");
$bg-grass: url("../assets/grass_bg.jpg");
$bg-ice: url("../assets/bg_ice70x70.png");
$bg-cat: url("../assets/cat_000.png");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: $bg-grass;
}

#container {

}

#game {
  width: 1050px;
  height: 1050px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template: repeat(15,1fr) /repeat(15,1fr);
  background-image: $bg-ground;
  background-repeat: repeat;
}

.wall {
  content: '';
  place-items: center;
  background-image: $bg-walls;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.ice {
  content: '';
  place-items: center;
  opacity: 0.75;
  background-image: $bg-ice;
}

.catPlayer {
  content: '';
  place-items: center;
  background-image: $bg-cat;
}

#chat {
  width: 150px;
  height: 100%;
  background: white;
}