$bg-ground: url("../assets/bg/bg_ground50x50.png");
$bg-walls: url("../assets/bg/bg_wood50x50.png");
$bg-wallsVertical: url("../assets/bg/bg_wood_vertical50x50.png");
$bg-block: url("../assets/bg/block50x50.png");
$bg-grass: url("../assets/bg/grass_bg.jpg");
$bg-ice: url("../assets/bg/bg_ice48x48.png");
$bg-cat: url("../assets/player/cat/cat_000_50x50.png");
$bg-gorilla: url("../assets/player/gorilla/gorilla_000_50x50.png");
$bg-penguin: url("../assets/player/penguin/penguin_000_50x50.png");
$bg-rabbit: url("../assets/player/rabbit/rabbit_000_50x50.png");
$bg-vulcano: url("../assets/bg/vulcano_stone_48x48.png");
$bg-bomb: url("../assets/bombEffects/bomb_000_45x45.png");
$bg-explosion: url("../assets/bombEffects/explosion_000_50x50.png");
$bg-strideLeft: url("../assets/bombEffects/strideLeft_50x50.png");
$bg-strideRight: url("../assets/bombEffects/strideRight_50x50.png");
$bg-strideUp: url("../assets/bombEffects/strideUp_50x50.png");
$bg-strideDown: url("../assets/bombEffects/strideDown_50x50.png");
$bg-strideTail: url("../assets/bombEffects/strideCenter_50x50.png");
$bg-site: url("../assets/bg/bg2.svg");
$music-on: url("../assets/icons/sound_on_32x32.png");
$music-off: url("../assets/icons/sound_off_32x32.png");
$bg-catSelection: url("../assets/player/cat/cat_selection.png");
$bg-gorillaSelection: url("../assets/player/gorilla/gorilla_selection.png");
$bg-penguinSelection: url("../assets/player/penguin/penguin_selection.png");
$bg-rabbitSelection: url("../assets/player/rabbit/rabbit_selection.png");

:root {
  --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --msger-bg: #fff;
  --border: 2px solid #ddd;
  --bot-msg-bg: #ececec;
  --right-msg-bg: #579ffb;
  --left-msg-bg: #579ffb;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-y: hidden;
}

#game > div {
  position: relative;
  content: '';
  place-items: center;
  z-index: 1000;
  width: 100%;
  height: 100%;
}

#game > div > div {
  position: absolute;
  content: '';
  place-items: center;
  z-index: 350;
  width: 100%;
  height: 100%;
}

body {
  background-image: $bg-site;
  background-size: cover;
  text-align: center;
  min-width: 1400px;
}

body > main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#navContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

nav {
  width: 1100px;
  background: darkcyan;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  border-radius: 10px 10px;
}

nav ul {
  display: flex;
  list-style: none;
  color: white;
  height: 50px;
  font-family: Open Sans;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

li:not(:first-child) {
  height: 100%;
  padding: 12px 20px 0 20px;
}

li:hover {
  cursor: pointer;
  background-color: #007373;
}

#playMusic {
  background-repeat: no-repeat;
  content: '';
  height: 32px;
  width: 32px;
  place-items: center;
  background-image: $music-off;
  margin-right: auto;
  -webkit-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  border-radius: 32px 32px;
}

#container {
  display: flex;
}

#game {
  width: 750px;
  height: 750px;
  display: grid;
  grid-template: repeat(15,1fr) /repeat(15,1fr);
  background-image: $bg-ground;
  background-repeat: repeat;
}

.block {
  content: '';
  place-items: center;
  background-image: $bg-block;
  -webkit-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  z-index: 289;
}

.wall {
  content: '';
  place-items: center;
  background-image: $bg-walls;
  -webkit-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  z-index: 289;
}

.wallVertical {
  content: '';
  place-items: center;
  background-image: $bg-wallsVertical;
  -webkit-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  z-index: 289;
}

.ice {
  position: relative;
  content: '';
  place-items: center;
  background-image: $bg-ice;
  z-index: 10;
}

.vulcano {
  position: relative;
  content: '';
  place-items: center;
  background-image: $bg-vulcano;
  z-index: 10;
}

.bomb {
  position: relative;
  content: '';
  place-items: center;
  background-image: $bg-bomb;
}

.explosion {
  place-items: center;
  background-image: $bg-explosion;
  z-index: 300;
}

.strideLeft {
  place-items: center;
  background-image: $bg-strideLeft;
  z-index: 300;
}

.strideRight {
  place-items: center;
  background-image: $bg-strideRight;
  z-index: 300;
}

.strideUp {
  place-items: center;
  background-image: $bg-strideUp;
  z-index: 300;
}

.strideDown {
  place-items: center;
  background-image: $bg-strideDown;
  z-index: 300;
}

.strideTail {
  place-items: center;
  background-image: $bg-strideTail;
}

#cat {
  content: '';
  place-items: center;
  background-image: $bg-cat;
  position: absolute;
  display: block;
  z-index: 301;
}

#gorilla {
  content: '';
  place-items: center;
  background-image: $bg-gorilla;
  position: absolute;
  display: block;
  z-index: 301;
}

#penguin {
  content: '';
  place-items: center;
  background-image: $bg-penguin;
  position: absolute;
  display: block;
  z-index: 301;
}

#rabbit {
  content: '';
  place-items: center;
  background-image: $bg-rabbit;
  position: absolute;
  display: block;
  z-index: 301;
}

.chat {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  max-width: 340px;
  max-height: 750px;
  margin-left: 10px;
  border: var(--border);
  border-radius: 5px;
  background: var(--msger-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.chat-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: var(--border);
  background: #eee;
  color: #666;
}

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.msger-chat::-webkit-scrollbar {
  width: 6px;
}

.msger-chat::-webkit-scrollbar-track {
  background: #ddd;
}

.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.msg:last-of-type {
  margin: 0;
}

.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd no-repeat center;
  background-size: cover;
  border-radius: 50%;
}

.msg-bubble {
  max-width: 250px;
  padding: 15px;
  border-radius: 15px;
  text-align: left;
  background: var(--bot-msg-bg);
}

.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}

.msg-info-time {
  font-size: 0.85em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
  text-align: left;
}

.right-msg {
  flex-direction: row-reverse;
}

.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: #fff;
  border-bottom-right-radius: 0;
}

.right-msg .msg-img {
  margin: 0 0 0 10px;
}

.left-msg .msg-bubble {
  background: var(--left-msg-bg);
  color: #fff;
  border-bottom-right-radius: 0;
}

.msger-inputarea {
  display: flex;
  padding: 10px;
  border-top: var(--border);
  background: #eee;
}

.msger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}

.msger-input {
  flex: 1;
  background: #ddd;
}

.msger-send-btn {
  margin-left: 10px;
  background: rgb(0, 196, 65);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
}

.msger-send-btn:hover {
  background: rgb(0, 180, 50);
}

.msger-chat {
  background-color: #fcfcfe;
}

/* The Modal (background) */
.modal {
  // display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
  place-items: center;
}

#modal-content > h2 {
  width: 100%;
  height: 2em;
}

/* Modal Content/Box */
#modal-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  place-items: center;
  z-index: 2000;
  color: black;
  font-family: Open Sans;
  background-image: url("../assets/ui/slice89_89.png");
  margin: 12% auto; /* 15% from the top and centered */
  padding: 20px;
  //border: 1px solid #888;
  width: 753px; /* Could be more or less, depending on screen size */
  height: 568px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#catCharacter {
  width: 160px;
  height: 160px;
  content: '';
  place-items: center;
  background-image: $bg-catSelection;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

#gorillaCharacter {
  width: 160px;
  height: 160px;
  content: '';
  place-items: center;
  background-image: $bg-gorillaSelection;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

#penguinCharacter {
  width: 160px;
  height: 160px;
  content: '';
  place-items: center;
  background-image: $bg-penguinSelection;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

#rabbitCharacter {
  width: 160px;
  height: 160px;
  place-items: center;
  background-image: $bg-rabbitSelection;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.charOverview {
  cursor: pointer;
  border: brown 1px solid;
  border-radius: 25px;
  margin: -250px 4px 0 4px;
  -webkit-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.35);
}

.disabled {
  cursor: default;
  opacity: 0.4;
}
