$bg-ground: url("../assets/bg_ground70x70.jpg");
$bg-walls: url("../assets/block70x70.jpg");
$bg-grass: url("../assets/grass_bg.jpg");

body {
  background-image: $bg-grass;
}

.container {
  width: 750px;
  height: 750px;
}

.row {
  height: 50px;
  background-image: $bg-ground;
}

.col {
  width: 50px;
}


.edge {
  background-image: $bg-walls;

  -webkit-box-shadow: 17px 0px 17px -6px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 17px 0px 17px -6px rgba(0, 0, 0, 0.47);
  box-shadow: 17px 0px 17px -6px rgba(0, 0, 0, 0.47);
}